* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/files/SegoeUI.woff") format("woff"), url("/files/SegoeUI.woff2") format("woff1");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url("/files/SegoeUI-Semibold.woff") format("woff"), url("/files/SegoeUI-Semibold.woff2") format("woff1");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("/files/SegoeUI-Bold.woff") format("woff"), url("/files/SegoeUI-Bold.woff2") format("woff1");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("/files/fonts/icomoon.eot?8ua25l");
  src: url("/files/fonts/icomoon.eot?8ua25l#iefix") format("embedded-opentype"), url("/files/fonts/icomoon.ttf?8ua25l") format("truetype"), url("/files/fonts/icomoon.woff?8ua25l") format("woff"), url("/files/fonts/icomoon.svg?8ua25l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-bag:before {
  content: "\e901";
}

.icon-close:before {
  content: "\e902";
}

.icon-exclude:before {
  content: "\e903";
}

.icon-home:before {
  content: "\e904";
}

.icon-info:before {
  content: "\e905";
}

.icon-love:before {
  content: "\e906";
}

.icon-love-fill:before {
  content: "\e907";
}

.icon-resign:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e909";
}

.icon-star:before {
  content: "\e90a";
}

.icon-trash:before {
  content: "\e90b";
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  font-style: normal;
  font-family: Segoe UI;
  font-weight: 500;
  background: #6725A8;
}
.wrapper i {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.wrapper a {
  color: inherit;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: content-box;
}

body.lock {
  overflow: hidden;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
}
.custom-checkbox:checked + label::before {
  border-color: #CB11AB;
  background-color: #CB11AB;
  background-image: url("/icons/yes.svg");
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #CB11AB;
}
.custom-checkbox:checked + label:hover::before {
  box-shadow: 0 0 0 0.2rem rgba(203, 17, 172, 0.25);
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
  z-index: 0;
}
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  z-index: 1;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-radio + label::after {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.custom-radio:checked + label::before {
  border-color: #CB11AB;
  background-color: #CB11AB;
}
.custom-radio:checked + label::after {
  content: "";
}
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #CB11AB;
}
.custom-radio:checked + label:hover::before {
  box-shadow: 0 0 0 0.2rem rgba(203, 17, 172, 0.25);
}

.main-button {
  font-family: "Segoe UI Bold";
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #CB11AB;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.active-block {
  width: 100vw;
  position: absolute;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  padding: 11px 16px;
  z-index: 9999;
  transform: translate(-50%, 7.5%);
  top: 100%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  max-width: 70vw;
}
@media (min-width: 350px) {
  .active-block {
    max-width: 285px;
  }
}
.active-block.active {
  visibility: visible;
  opacity: 1;
}
.active-block * {
  z-index: 9999;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(5, 0, 10, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translate(0, 0);
}
.popup .popup__body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
}
@media (min-width: 992px) {
  .popup .popup__body {
    align-items: center;
  }
}
.popup .popup__content {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  color: #000;
  width: 100%;
  padding: 16px;
  height: calc(100vh - 56px);
  position: relative;
  transform: translate(-100%, 0);
}
@media (min-width: 992px) {
  .popup .popup__content {
    padding: 16px 24px;
    max-height: 400px;
    border-radius: 16px;
    max-width: 400px;
    height: 100vh;
  }
}
.popup .popup__content .content-popup__head {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin: 0 0 13px;
}
.popup .popup__content .content-popup__main {
  height: calc(100% - 41px);
}
.popup .popup__content .main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup .popup__content .main-content .custom-radio + label::before {
  margin: 6.5px 0 4px 0;
}
.popup .popup__content .main-content .custom-radio + label::after {
  top: 15px;
  left: 8px;
  transform: translate(-50%, -50%);
}
.popup .popup__content .main-content .main-content__pays,
.popup .popup__content .main-content .main-content__delivery {
  flex: 1 1 auto;
}
.popup .popup__content .main-content .main-content__button {
  width: 100%;
  max-width: 100%;
  color: #fff;
}
@media (min-width: 992px) {
  .popup .popup__content .main-content .main-content__button {
    max-width: 160px;
  }
}
.popup .popup__content .main-content .delivery-content__title {
  font-family: "Segoe UI Bold";
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 8px;
}
.popup .popup__content .pays-content {
  overflow-y: auto;
  height: 100%;
}
.popup .popup__content .pays-content .block__radio:nth-child(2n+1) .custom-radio + label::after {
  transform: translate(-50%, -15%);
}
.popup .popup__content .pays-content .pays-content__block {
  padding: 0 0 10px;
}
.popup .popup__content .pays-content .pays-content__block .custom-radio + label::before {
  margin-right: 8px;
}
.popup .popup__content .pays-content .pays-content__block .custom-radio + label::after {
  top: 50%;
  left: 8px;
  transform: translate(-50%, -30%);
}
.popup .popup__content .delivery-content {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.popup .popup__content .delivery-content .main-delivery {
  flex: 0 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list {
  padding: 0 0 10px;
  display: none;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list.active {
  display: block;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list .block-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list .info-block {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list .info-block .info-block__star {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list .info-block .info-block__star i {
  color: #FF970D;
  font-size: 10px;
}
.popup .popup__content .delivery-content .main-delivery .main-delivery__list .info-block .info-block__name {
  color: #A0A0A4;
}
.popup .popup__content .delivery-content .delivery-content__btns {
  margin: 0 0 24px 0;
}
.popup .popup__content .btns-delivery {
  display: flex;
  align-items: center;
  gap: 8px;
}
.popup .popup__content .btns-delivery .btns-delivery__button {
  flex: 1 1 50%;
  font-family: "Segoe UI Bold";
  font-size: 13px;
  line-height: 16px;
  padding: 10px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.popup .popup__content .btns-delivery .btns-delivery__button.active {
  border: 2px solid #CB11AB;
  border-radius: 24px;
}
.popup .popup__content .block .block__radio:not(:last-child) {
  margin: 0 0 16px;
}
.popup .popup__content .block .block__radio label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popup .popup__content .block.list-delivery .block__radio:not(:last-child) {
  margin: 0 0 8px;
}
.popup .popup__content .block.list-delivery .block__radio .custom-radio + label::before {
  margin-right: 4px;
}
.popup .popup__content .block.list-delivery label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: stretch;
}
.popup .popup__content .block.list-delivery .list-delivery__delete {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.popup .popup__content .block.list-delivery .list-delivery__delete button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: transparent;
  padding: 5px;
}
.popup .popup__content .block.list-delivery .list-delivery__delete button:hover {
  color: #F55123;
}
.popup .popup__content .block.list-delivery .block-content {
  flex: 1 1 auto;
}
.popup .popup__content .block.list-delivery .list-delivery__delete {
  flex: 0 1 auto;
}
@media (min-width: 992px) {
  .popup.pay .popup__content {
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  .popup.delivery .popup__content {
    max-width: 500px;
  }
}
.popup .popup__title {
  font-family: "Segoe UI Bold";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}
.popup .popup__close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A0A0A4;
}
.popup .close-popup {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  color: #FFFFFF;
}
header .header__container {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 14px 13px;
}
@media (min-width: 992px) {
  header .header__container {
    padding: 18px 24px;
  }
}
header .header__container .header__burger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  width: 28px;
  min-width: 28px;
  height: 28px;
  border: 0;
  border-radius: 8px;
  padding: 4.75px 2.25px;
}
header .header__container .header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
}
header .header__container .header__burger span:last-child {
  width: 75%;
}
@media (min-width: 992px) {
  header .header__container .header__burger {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    padding: 12px 10px;
  }
  header .header__container .header__burger span {
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 4px;
  }
  header .header__container .header__burger span:last-child {
    width: 100%;
  }
}
header .header__container .header__title {
  font-family: Segoe UI SemiBold;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-variant: small-caps;
  text-transform: lowercase;
  transform: translate(0, -4px);
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  header .header__container .header__title {
    font-size: 28px;
    text-align: left;
    flex: 0 1 108px;
  }
}
header .header__container .header__search {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  header .header__container .header__search {
    padding: 10px 18px 10px 20px;
    margin: 0 15px;
  }
}
header .header__container .search {
  background: transparent;
  border-radius: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header__container .search .search__input::-moz-placeholder {
  background: transparent;
  color: inherit;
}
header .header__container .search .search__input:-ms-input-placeholder {
  background: transparent;
  color: inherit;
}
header .header__container .search .search__input,
header .header__container .search .search__button,
header .header__container .search .search__input::placeholder {
  background: transparent;
  color: inherit;
}
header .header__container .search .search__input::-moz-placeholder {
  opacity: 0.5;
}
header .header__container .search .search__input:-ms-input-placeholder {
  opacity: 0.5;
}
header .header__container .search .search__input::placeholder {
  opacity: 0.5;
}
header .header__container .search .search__input {
  font-family: Segoe UI;
  font-size: 18px;
  line-height: 24px;
  flex: 1 1 auto;
  display: none;
  transform: translate(0, -1px);
}
header .header__container .search .search__button {
  padding: 4px;
  opacity: 1;
}
header .header__container .search .search__button i {
  font-size: 20px;
}
@media (min-width: 992px) {
  header .header__container .search {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 36px;
  }
  header .header__container .search .search__input {
    display: block;
  }
  header .header__container .search .search__button {
    padding: 4px;
    opacity: 0.4;
  }
}
header .header__container .btns-header {
  display: none;
  gap: 40px;
  align-items: center;
}
header .header__container .btns-header .btns-header__block:last-child i {
  font-size: 24px;
}
@media (min-width: 992px) {
  header .header__container .btns-header {
    display: flex;
  }
}
header .header__container .block-btn {
  background: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  text-align: center;
}
header .header__container .block-btn .block-btn__icon {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: relative;
}
header .header__container .block-btn .block-btn__icon i {
  font-size: 20px;
}
header .header__container .block-btn .block-btn__icon span {
  position: absolute;
  background: #F55123;
  border-radius: 20px;
  padding: 0 6px;
  font-family: "Segoe UI Bold";
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  top: 0;
  right: 0;
  transform: translate(50%, -25%);
}
header .header__container .block-btn .block-btn__title {
  font-size: 13px;
  line-height: 16px;
}

main {
  flex: 1 1 auto;
  background: #F6F6FA;
  border-radius: 16px;
}
@media (min-width: 992px) {
  main {
    border-radius: 24px;
  }
}
main .main__container {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  main .main__container {
    flex-direction: row;
    gap: 32px;
    padding: 21px 24px;
  }
}
main .main__container .main-block-sales {
  margin: 0 0 48px 0;
}
@media (min-width: 992px) {
  main .main__container .main-block-sales {
    margin: 0 0 40px 0;
  }
}
main .main__container .main-block-sales.no-margin {
  margin: 0;
}
main .main__container .main-block-sales.missing {
  margin: 0 0 38px 0;
}
main .main__container .main__content {
  flex: 1 1 auto;
  margin: 5px 0 0 0;
  z-index: 5;
}
@media (min-width: 992px) {
  main .main__container .main__content {
    margin: 13px 0 26px 0;
  }
}
main .main__container .main__offer {
  flex: 1 1 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (min-width: 992px) {
  main .main__container .main__offer {
    flex: 0 0 32%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
main .main__container .content-main .content-main__title {
  font-family: Segoe UI Bold;
  letter-spacing: -0.01em;
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 28px;
  padding: 0 16px;
}
@media (min-width: 992px) {
  main .main__container .content-main .content-main__title {
    padding: 0;
  }
}
@media (min-width: 992px) {
  main .main__container .content-main .content-main__title {
    margin: 0 0 27px;
    font-size: 28px;
    line-height: 36px;
  }
}
main .main__container .content-main .content-main__sales {
  padding: 0 16px;
}
@media (min-width: 992px) {
  main .main__container .content-main .content-main__sales {
    padding: 0;
  }
}
main .main__container .content-main .sales-content .sales-content__head {
  padding: 0 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 12px;
}
main .main__container .content-main .sales-content .sales-content__head.line {
  margin: 0 0 12px 0;
}
main .main__container .content-main .sales-content .sales-content__head.line.hide-line {
  border-bottom: 0;
}
main .main__container .content-main .sales-content .sales-content__main {
  display: block;
}
main .main__container .content-main .sales-content .sales-content__main.hide {
  display: none;
}
@media (min-width: 992px) {
  main .main__container .content-main #block-sales-2 .main-sales__block {
    margin: 0 0 32px -12px;
  }
}
main .main__container .content-main .head-sales {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
main .main__container .content-main .head-sales .head-sales__checkbox label, main .main__container .content-main .head-sales .head-sales__checkbox.title {
  font-size: 16px;
  line-height: 24px;
}
main .main__container .content-main .head-sales .head-sales__all {
  font-family: "Segoe UI Semibold";
  font-size: 16px;
  line-height: 24px;
}
main .main__container .content-main .head-sales .head-sales__checkbox.hide,
main .main__container .content-main .head-sales .head-sales__all.hide {
  display: none;
}
main .main__container .content-main .head-sales .head-sales__button {
  background: transparent;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__container .content-main .head-sales .head-sales__button.hide {
  display: none;
}
main .main__container .content-main .head-sales .head-sales__button i {
  color: #A0A0A4;
  pointer-events: none;
  font-size: 16px;
}
main .main__container .content-main .head-sales .head-sales__button.active {
  transform: rotate(-180deg);
}
main .main__container .content-main .main-sales .main-sales__block {
  position: relative;
}
main .main__container .content-main .main-sales .main-sales__block:not(:last-child) {
  padding: 0 0 16px;
  margin: 0 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  main .main__container .content-main .main-sales .main-sales__block:not(:last-child) {
    margin: 0 0 32px;
    border: 0;
    padding: 0;
  }
}
main .main__container .content-main .block-sales {
  display: grid;
  grid-template: repeat(3, auto)/80px 1fr;
  -moz-column-gap: 12px;
       column-gap: 12px;
  position: relative;
}
@media (min-width: 992px) {
  main .main__container .content-main .block-sales {
    grid-template: 1fr/auto auto 1fr minmax(100px, 11%) minmax(110px, 12.5%);
  }
}
main .main__container .content-main .block-sales .custom-sales__block.size {
  position: absolute;
  top: 80px;
  left: 4px;
  padding: 0 2px;
  z-index: 55;
  background: #FFFFFF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  min-width: 22px;
  max-width: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 22px;
  text-align: center;
}
main .main__container .content-main .block-sales .block-sales__checkbox {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
  z-index: 2;
}
main .main__container .content-main .block-sales .block-sales__checkbox input + label::before {
  margin: 0;
}
main .main__container .content-main .block-sales .block-sales__checkbox .custom-checkbox + label::before {
  content: "";
  background-color: #fff;
  margin: 0;
}
main .main__container .content-main .block-sales .block-sales__checkbox .custom-checkbox:checked + label::before {
  border-color: #CB11AB;
  background-color: #CB11AB;
  background-image: url("/icons/yes.svg");
}
@media (min-width: 992px) {
  main .main__container .content-main .block-sales .block-sales__checkbox {
    margin: 37.5px 0 0;
    position: relative;
    top: 0;
    left: 0;
  }
}
main .main__container .content-main .block-sales .block-sales__image {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-row: 1/3;
  grid-column: 1/2;
}
@media (min-width: 992px) {
  main .main__container .content-main .block-sales .block-sales__image {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 72px;
  }
}
main .main__container .content-main .block-sales .block-sales__image img {
  max-width: 100%;
}
main .main__container .content-main .block-sales .block-sales__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}
main .main__container .content-main .block-sales .block-sales__info {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media (min-width: 992px) {
  main .main__container .content-main .block-sales .block-sales__info {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 0 0 0 4px;
  }
}
main .main__container .content-main .block-sales .block-sales__panel {
  grid-row: 3/4;
  grid-column: 1/3;
}
@media (min-width: 992px) {
  main .main__container .content-main .block-sales .block-sales__panel {
    grid-row: 1/2;
    grid-column: 4/5;
  }
}
main .main__container .content-main .block-sales .block-sales__price {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0 0 2px 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .block-sales .block-sales__price {
    grid-row: 1/2;
    grid-column: 5/6;
    margin: 0 0 0 4px;
  }
}
main .main__container .content-main .info-sales {
  text-align: left;
}
main .main__container .content-main .info-sales .info-sales__title {
  margin: 0 0 5px;
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 20px;
  max-width: 275px;
  overflow: hidden;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (min-width: 992px) {
  main .main__container .content-main .info-sales .info-sales__title {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    font-size: 16px;
    line-height: 24px;
    text-overflow: clip;
    display: block;
  }
}
main .main__container .content-main .info-sales .info-sales__custom {
  margin: 0 0 3px;
}
main .main__container .content-main .info-sales .info-sales__warehouse,
main .main__container .content-main .info-sales .info-sales__manufacturer {
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A4;
}
main .main__container .content-main .info-sales .info-sales__warehouse {
  margin: 0 0 4px;
}
main .main__container .content-main .info-sales .manufacturer-info {
  display: flex;
  gap: 6px;
  align-items: center;
}
main .main__container .content-main .info-sales .content-manufacturer {
  position: relative;
}
main .main__container .content-main .info-sales .content-manufacturer .content-manufacturer__button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 1px);
}
main .main__container .content-main .info-sales .content-manufacturer .content-manufacturer__button i {
  font-size: 18px;
  color: #A0A0A4;
}
main .main__container .content-main .info-sales .info-sales__manufacturer {
  display: none;
}
@media (min-width: 992px) {
  main .main__container .content-main .info-sales .info-sales__manufacturer {
    display: flex;
  }
}
main .main__container .content-main .info-sales .desc-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
main .main__container .content-main .info-sales .desc-content .desc-content__name {
  font-family: "Segoe UI Bold";
}
main .main__container .content-main .custom-sales {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 5px;
  align-items: center;
}
main .main__container .content-main .custom-sales .custom-sales__block {
  font-size: 13px;
  line-height: 16px;
}
@media (min-width: 992px) {
  main .main__container .content-main .custom-sales .custom-sales__block.size {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 55;
    background: transparent;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    min-width: none;
    max-width: none;
    text-overflow: ellipsis;
    overflow: hidden;
    height: none;
  }
}
main .main__container .content-main .panel-sales {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 12px 0 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .panel-sales {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    margin: 0;
  }
}
main .main__container .content-main .panel-sales .panel-sales__remained {
  font-size: 13px;
  line-height: 16px;
  color: #FF3B30;
}
main .main__container .content-main .count-panel {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 4px 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  width: 80px;
}
@media (min-width: 992px) {
  main .main__container .content-main .count-panel {
    padding: 10px 3px;
    width: 100%;
  }
}
main .main__container .content-main .count-panel .count-panel__sub,
main .main__container .content-main .count-panel .count-panel__add {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  background: transparent;
  width: 24px;
  height: 24px;
}
main .main__container .content-main .count-panel .count-panel__sub.none,
main .main__container .content-main .count-panel .count-panel__add.none {
  color: rgba(0, 0, 0, 0.2);
}
main .main__container .content-main .count-panel .count-panel__number {
  font-size: 16px;
  line-height: 24px;
}
main .main__container .content-main .btns-panel {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 18px;
}
@media (min-width: 992px) {
  main .main__container .content-main .btns-panel {
    flex: 0 0 auto;
    gap: 10px;
  }
}
main .main__container .content-main .btns-panel .btns-panel__button {
  padding: 3px;
  background: transparent;
  color: #000;
}
main .main__container .content-main .btns-panel .btns-panel__button.love.active i {
  color: #CB11AB;
}
main .main__container .content-main .btns-panel .btns-panel__button i {
  font-size: 16px;
}
main .main__container .content-main .btns-panel .btns-panel__button:first-child:hover {
  color: #CB11AB;
}
main .main__container .content-main .btns-panel .btns-panel__button:first-child i {
  font-size: 20px;
}
main .main__container .content-main .btns-panel .btns-panel__button:hover {
  color: #F55123;
}
main .main__container .content-main .price-sales {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 992px) {
  main .main__container .content-main .price-sales {
    text-align: right;
    display: block;
  }
}
main .main__container .content-main .price-sales .price-sales__main {
  font-family: Segoe UI Bold;
  font-size: 130%;
  white-space: nowrap;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin: 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .price-sales .price-sales__main {
    margin: 0 0 5px auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
main .main__container .content-main .price-sales .price-sales__main span {
  font-size: 16px;
  line-height: 24px;
}
main .main__container .content-main .price-sales .price-sales__line {
  transform: translate(0, 2px);
  margin: 0 auto 0 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .price-sales .price-sales__line {
    transform: translate(0, 0);
    margin: 0 0 0 auto;
  }
}
main .main__container .content-main .price-sales__line {
  z-index: 100;
}
main .main__container .content-main .line-sales {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 auto;
}
main .main__container .content-main .line-sales .line-sales__text {
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A4;
  text-decoration: line-through;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  main .main__container .content-main .line-sales .line-sales__text {
    margin: 0 0 0 auto;
  }
}
main .main__container .content-main .line-sales .line-sales__content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
main .main__container .content-main .content-line .content-line__block:not(:last-child) {
  margin: 0 0 8px;
}
main .main__container .content-main .block-line {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
main .main__container .content-main .block-line .block-line__title {
  color: #A0A0A4;
  text-align: left;
}
main .main__container .content-main .block-line .block-line__value {
  text-align: right;
}
main .main__container .content-main .missing .sales-content__head {
  margin: 0 0 24px;
  font-family: Segoe UI Semibold;
}
main .main__container .content-main .missing .block-sales__image {
  filter: grayscale(100%);
}
main .main__container .content-main .missing .block-sales__image::after {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
main .main__container .content-main .missing .block-sales__info {
  color: #A0A0A4;
  grid-row: 1/3;
}
main .main__container .content-main .missing .block-sales__info .info-sales__title {
  max-width: 310px;
}
@media (min-width: 992px) {
  main .main__container .content-main .missing .main-sales__block .panel-sales__btns {
    display: none;
  }
}
main .main__container .content-main .missing .main-sales__block:hover .panel-sales__btns {
  display: flex;
}
main .main__container .content-main .content-main__change {
  padding: 16px 16px 24px 16px;
}
@media (min-width: 992px) {
  main .main__container .content-main .content-main__change {
    padding: 16px 19px 16px 24px;
  }
}
main .main__container .content-main .content-main__change:not(:last-child) {
  margin: 0 0 12px;
}
@media (min-width: 992px) {
  main .main__container .content-main .content-main__change:not(:last-child) {
    margin: 0 0 16px;
  }
}
main .main__container .content-main .change-content {
  background: #FFFFFF;
  border-radius: 16px;
}
main .main__container .content-main .change-content .change-content__user {
  max-width: 100%;
}
@media (min-width: 992px) {
  main .main__container .content-main .change-content .change-content__user {
    max-width: 700px;
  }
}
main .main__container .content-main .head-change {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: "Segoe UI Bold";
  margin: 0 0 8px 0;
}
main .main__container .content-main .head-change.info-block-card {
  margin: 0 0 20px 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .head-change {
    margin: 0 0 16px 0;
  }
  main .main__container .content-main .head-change.info-block-card {
    margin: 0 0 30px 0;
  }
  main .main__container .content-main .head-change.info-block-card .head-change__title {
    margin: 8px 0 0 0;
  }
}
main .main__container .content-main .head-change .head-change__title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}
@media (min-width: 992px) {
  main .main__container .content-main .head-change .head-change__title {
    font-size: 24px;
    line-height: 32px;
  }
}
main .main__container .content-main .head-change .head-change__button {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  background: transparent;
  padding: 5px;
  transform: translate(0, 2px);
  color: #CB11AB;
}
main .main__container .content-main .card-content {
  font-weight: 400;
}
main .main__container .content-main .card-content .card-content__block {
  margin: 0 0 8px;
}
main .main__container .content-main .card-content .card-content__info {
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A4;
}
main .main__container .content-main .block-card {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
}
main .main__container .content-main .block-card .block-card__date {
  margin: 0 0 0 4px;
}
main .main__container .content-main .delivery-content {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .delivery-content {
    display: grid;
    grid-template: 1fr/153px auto;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
  }
}
main .main__container .content-main .delivery-content .delivery-content__title {
  font-family: "Segoe UI Semibold";
}
main .main__container .content-main .delivery-content .delivery-content__value {
  font-weight: 400;
  margin: 0 0 16px;
}
main .main__container .content-main .delivery-content .delivery-content__value.info-value-card {
  margin: 16px 0;
}
@media (min-width: 992px) {
  main .main__container .content-main .delivery-content .delivery-content__value {
    margin: 0;
  }
  main .main__container .content-main .delivery-content .delivery-content__value.info-value-card {
    margin: 2px 0;
  }
}
main .main__container .content-main .value-delivery .value-delivery__text {
  margin: 0 0 4px;
}
main .main__container .content-main .value-delivery .value-delivery__info.hide {
  display: none;
}
main .main__container .content-main .info-value {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .main__container .content-main .info-value .info-value__block.star {
  display: flex;
  gap: 5px;
  align-items: center;
}
main .main__container .content-main .info-value .info-value__block.star i {
  color: #FF970D;
}
main .main__container .content-main .card-value {
  position: relative;
}
main .main__container .content-main .card-value .card-value__image {
  width: 40px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
main .main__container .content-main .card-value .card-value__image img {
  max-width: 100%;
}
main .main__container .content-main .card-value .card-value__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}
main .main__container .content-main .card-value .card-value__count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -50%);
  background: #F55123;
  border-radius: 25px;
  padding: 1px 7px;
  font-family: "Segoe UI Semibold";
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
main .main__container .content-main .delivery-content__rejection {
  grid-column: 1/3;
  margin: 8px 0 0;
}
main .main__container .content-main .user-change {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 16px;
  flex-direction: column;
}
main .main__container .content-main .user-change .user-change__block {
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  main .main__container .content-main .user-change {
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 17px;
    flex-direction: row;
  }
  main .main__container .content-main .user-change .user-change__block {
    flex: 1 0 30%;
  }
}
main .main__container .content-main .user-change .user-change__block:nth-child(1), main .main__container .content-main .user-change .user-change__block:nth-child(2) {
  flex: 1 1 45%;
}
main .main__container .content-main .block-user .block-user__input {
  color: #A0A0A4;
}
main .main__container .content-main .block-user .block-user__info {
  opacity: 0;
  visibility: hidden;
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  min-height: 16px;
}
main .main__container .content-main .block-user .block-user__info span {
  display: none;
}
main .main__container .content-main .block-user.active .block-user__info {
  opacity: 1;
  visibility: visible;
}
main .main__container .content-main .block-user.error *, main .main__container .content-main .block-user.empty * {
  color: #F55123;
}
main .main__container .content-main .block-user.error .block-user__input .input-user__input, main .main__container .content-main .block-user.empty .block-user__input .input-user__input {
  border-bottom: 1px solid #F55123;
}
main .main__container .content-main .block-user.error .block-user__info, main .main__container .content-main .block-user.empty .block-user__info {
  opacity: 1;
  visibility: visible;
}
main .main__container .content-main .block-user.error .error {
  display: block;
}
main .main__container .content-main .block-user.empty .empty {
  display: block;
}
main .main__container .content-main .input-user {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
main .main__container .content-main .input-user .input-user__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 3px;
  width: 100%;
}
main .main__container .content-main .input-user .input-user__input::-moz-placeholder {
  color: transparent;
}
main .main__container .content-main .input-user .input-user__input:-ms-input-placeholder {
  color: transparent;
}
main .main__container .content-main .input-user .input-user__input::placeholder {
  color: transparent;
}
main .main__container .content-main .input-user .input-user__input:not(:-moz-placeholder-shown) ~ .input-user__label {
  font-size: 13px;
  line-height: 16px;
  transform: scale(0.85) translateY(-50%);
}
main .main__container .content-main .input-user .input-user__input:not(:-ms-input-placeholder) ~ .input-user__label {
  font-size: 13px;
  line-height: 16px;
  transform: scale(0.85) translateY(-50%);
}
main .main__container .content-main .input-user .input-user__input:focus ~ .input-user__label, main .main__container .content-main .input-user .input-user__input:not(:placeholder-shown) ~ .input-user__label {
  font-size: 13px;
  line-height: 16px;
  transform: scale(0.85) translateY(-50%);
}
main .main__container .content-main .input-user .input-user__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: all 0.15s ease-in-out;
}
main .main__container .rejection-delivery {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
main .main__container .rejection-delivery::before {
  content: url("/icons/yesPay.png");
  transform: translate(0, 2px);
}
main .main__container .rejection-delivery .rejection-delivery__text span {
  position: relative;
  cursor: pointer;
  color: #0CB477;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}
main .main__container .rejection-delivery .link-rejection .link-rejection__content {
  color: #000000;
}
main .main__container .offer-main {
  padding: 8px 16px;
  background: transparent;
  border-radius: 16px;
}
@media (min-width: 992px) {
  main .main__container .offer-main {
    padding: 16px 24px;
    background: #FFFFFF;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  }
}
main .main__container .offer-main .offer-main__price {
  margin: 0 0 16px;
}
@media (min-width: 992px) {
  main .main__container .offer-main .offer-main__price {
    margin: 0 0 24px;
  }
}
main .main__container .offer-main .offer-main__change {
  margin: 0 0 12px;
}
main .main__container .offer-main .offer-main__change.pay-change {
  margin: 0 0 24px;
}
main .main__container .offer-main .offer-main__change.resign-change {
  display: none;
}
@media (min-width: 992px) {
  main .main__container .offer-main .offer-main__change.resign-change {
    display: block;
  }
}
main .main__container .offer-main .block-price {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
main .main__container .offer-main .block-price.main-price {
  font-family: "Segoe UI Bold";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}
@media (min-width: 992px) {
  main .main__container .offer-main .block-price.main-price {
    font-size: 24px;
    line-height: 32px;
  }
}
main .main__container .offer-main .block-price .block-price__value {
  text-align: right;
}
main .main__container .offer-main .change-offer .change-offer__pay {
  width: 100%;
  margin: 0 0 12px;
}
main .main__container .offer-main .change-offer .change-offer__agree {
  position: relative;
  z-index: 1;
}
main .main__container .offer-main .change-offer .change-offer__agree .custom-checkbox + label {
  align-items: stretch;
}
main .main__container .offer-main .change-offer .change-offer__agree .custom-checkbox + label::before {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}
main .main__container .offer-main .change-offer .change-offer__agree .custom-checkbox:checked + label::before {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
  background-image: url("/icons/yesBlack.svg");
}
main .main__container .offer-main .change-offer .change-offer__agree span {
  line-height: 16px;
  transform: translate(0, 3px);
}
main .main__container .offer-main .change-offer .change-offer__agree span a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  main .main__container .offer-main .change-offer .change-offer__agree {
    margin: 0 0 8px;
  }
}
main .main__container .offer-main .head-change {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
main .main__container .offer-main .head-change .head-change__title {
  font-family: "Segoe UI Bold";
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 4px;
}
main .main__container .offer-main .head-change .head-change__button {
  background: transparent;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(5px, 0);
}
main .main__container .offer-main .head-change .head-change__button i {
  color: #CB11AB;
  font-size: 18px;
}
main .main__container .offer-main .text-change .back, main .main__container .offer-main .text-change.back {
  padding: 8px;
  background: #F0ECF4;
  border-radius: 8px;
}
@media (min-width: 992px) {
  main .main__container .offer-main .text-change .back, main .main__container .offer-main .text-change.back {
    background: #F6F6FA;
  }
}
main .main__container .offer-main .text-change .text-change__checkbox {
  margin: 0 0 8px;
}
main .main__container .offer-main .text-change .text-change__checkbox .custom-checkbox + label::before {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}
main .main__container .offer-main .text-change .text-change__value {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .main__container .offer-main .text-change .text-change__date {
  margin: 4px 0 0 0;
  display: block;
  color: #CB11AB;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 0 1px 0;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}
main .main__container .offer-main .offer-main__rejection {
  margin: 0 0 16px;
  padding: 8px;
  border-radius: 8px;
  background: #F0ECF4;
  border-radius: 8px;
}
@media (min-width: 992px) {
  main .main__container .offer-main .offer-main__rejection {
    background: #F6F6FA;
    margin: 0 0 24px;
  }
}
main .main__container .offer-main .offer-main__rejection::before {
  transform: translate(0, 0);
}

footer {
  margin: 0 0 56px 0;
}
@media (min-width: 992px) {
  footer {
    margin: 0;
  }
}
footer .footer__container {
  padding: 24px;
}
footer .footer__text {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 992px) {
  navbar {
    display: none;
  }
}
navbar .navbar__button {
  flex: 1 1 auto;
  background: transparent;
  color: #CCCCCC;
  padding: 18px;
  position: relative;
}
navbar .navbar__button i {
  font-size: 20px;
}
navbar .navbar__button.active {
  color: #CB11AB;
}
navbar .navbar__button span {
  font-family: "Segoe UI Bold";
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #F55123;
  border-radius: 30px;
  padding: 0 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -110%);
}